# Ce fichier contient vos informations sensibles.
# Ne le partagez jamais et ne le publiez pas sur des plateformes comme GitHub.

[email_credentials]
sender_email = "no-reply@lekouttab.fr"
sender_password = "***REMOVED***"
sender_email_admin = "no-reply@lekouttab.fr"

[smtp]
server = "smtp.gmail.com"  # Serveur Gmail
port = 587               # Port avec STARTTLS

# Configuration de l'application
[app]
base_url = "http://localhost:8501"  # Pour le test local

[security]
session_timeout = 3600
max_login_attempts = 5
lockout_duration = 900

[database]
encryption_key = "votre-clé-de-chiffrement-32-caractères"

[general]
SECRET_KEY = "***REMOVED***"